@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    background-image: url(https://th.bing.com/th/id/R.af8178c1785450d81b4adedbe93532fa?rik=HeOp4tHeERjPnw&riu=http%3a%2f%2fwww.oocities.org%2fes%2fbaul_informatico%2ffondos%2f43.gif&ehk=dbuuvRij5pN%2fn1W5YKiz2juhIXfY0emi1PDDeJt74FI%3d&risl=&pid=ImgRaw&r=0);
    font-family: sans-serif;
}

header{
    position: fixed;
    background-color: rgba(255, 186, 8, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
}

    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
        .nav__container{
            display: flex;
            align-items: center;
            flex-basis: 100%; 
            justify-content: space-between;
        }
            .nav__container__logo{
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
                padding: 0px 10px;
                margin-top: 5px;
            }
                .nav__container__logo a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }
                    .nav__container__logo a img{
                        width: 45px;
                    }
                    .nav__container__logo a span{
                        color: #FFBA08;
                        font-weight: bold;  
                        font-size: 20px;
                        font-family: 'Work Sans', sans-serif;   
                        margin-left: 3px;
                        margin-bottom: 3px;
                    }


            .nav__container__menu{
            }
                .nav__container__menu ul{
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    align-content: flex-end;
                }
                    .nav__container__menu svg{
                        width: 15px;
                        fill: #FFBA08;
                    }
                    .nav__container__menu ul.active{
                        justify-content: space-between;
                        background-color: rgb(0, 0, 0);
                    }
                    .nav__container__menu ul.active li{
                        border: 3px solid #FFBA08;
                        padding-top: 13px;
                        width: 150px;
                    }

                    .nav__container__menu ul.active li a{
                        font-size: 15px;
                    }
                    .nav__container__menu ul li{
                        margin: 0 10px;
                        padding: 13px 0px;
                        border-radius: 20px;
                        text-align: center;
                        background-color: rgb(3, 7, 30);
                        color: #FFBA08;
                        border: 3px solid #FFBA08;
                        transition: background-color 0.4s, transform 0.4s;
                    }
                    .nav__container__menu ul li:hover{
                        background-color: black;
                        color: #ffba08;
                        transform: scale(1.5);
                    }
                        .nav__container__menu ul li a{
                            text-decoration: none;
                            font-size: 18px;
                            color: #ffba08;
                            font-weight: bold;
                            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        }
                        .nav__container__menu__botones{
                            justify-content: flex-end;
                        }



                        .flecha{
                            margin-left: 20px;
                            border-radius: 20px;
                            padding: 6px 6px;
                            background-color: #03071e;
                            color: #FFBA08;
                            border: 3px solid #FFBA08;
                            cursor: pointer;
                            width: 45px;
                        }

            .menu-toggle {
                display: none;
                cursor: pointer;
                background-color: transparent;
                border: none;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
                padding: 5px 15px;
                margin-top: 5px;
            }

                .bar {
                    width: 25px;
                    height: 4px;
                    background-color: #FFBA08;
                    margin: 6px 0;
                    transition: 0.4s;
                    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
                    padding: 0px 10px;
                }




main{

}
    .caja-section{
        text-align: center;
        margin-top: 55px;
    }
        #inicio{
            min-height: 100vh;
            background-color: rgb(0, 0, 0, 0.8);
        }
            #inicio ul{
                margin-bottom: 0;
            }
                #inicio ul li{
                    display: inline-block;
                    margin: 20px 40px 0 0;
                }
                    #inicio svg {
                        width: 30px; 
                        fill: #FFBA08; 
                    }

            #inicio h1{
                font-size: 4rem;
                color: whitesmoke;
                margin: 0;
            }
                #inicio h1 span{
                    color: #FFBA08;
                }

            #full_stack{
                color: whitesmoke;
                font-size: 18px;
                margin: 0;
            }

            #presentacion{
                padding: 10px;
                margin-top: 5px;
                text-align: center;
                font-size: 15px;
                color: whitesmoke;
            }
            
                #inicio p span{
                    color: #ffc107;
                    font-weight: bold;
                }

                #inicio div img{
                width: 130px;
                height: auto;
                border-radius: 80%;
                margin: 15px 0 5px 0;
                border: 2px solid #FFBA08;
                image-rendering: optimizeSpeed;
                }
    .proyectosycontacto{
        
    }
        #proyectos{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        #proyectos h2{
            color: whitesmoke;
            font-weight: bold;
            font-size: 2rem;
        }
        #proyectos h2 span{
            color: #FFBA08;
        }

        .recuadro_proyectos{
            display: flex;
            padding: 2px;
            margin-top: 5px;
            flex-direction: column;
        }
        .carta{
            display: flex;
            flex-direction: column;
            width: 415px;
            margin-bottom: 50px;
            height:500px;
            border-radius:20px;
            background: black;
            border: 3px solid #FFBA08;
        }

        .carta img{
            border-radius: 20px;
            flex-basis: 85%;
            image-rendering: optimizeSpeed;
        }

        .carta .contenido{
            text-align: center;
            padding: 10px 5px;
            font-size: 1rem;
            cursor: pointer;
            flex-basis: 15%;
        }
        
        .carta a{
            text-decoration: none;
        }
        
        .carta .contenido:hover{
            color:#FFBA08;
        }
        
        .carta:hover{
            box-shadow: 0 0 1rem #FFBA08;
        }
        #contacto{
            height: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            #contacto h2 {
                font-size: 2rem;
                color: whitesmoke;
                font-weight: bold;
            }
            #contacto h2 span{
                color: #FFBA08;
            }
            #formulario_contacto{
                padding: 20px;
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
                border-radius: 10px;
                border: 3px solid #FFBA08;
                background-color: rgb(0, 0, 0, 0.9);
            }

          .formulario_grupo {
            margin-bottom: 20px;
          }
          
          .formulario_grupo label {
            display: block;
            font-size: 1.2rem;
            margin-bottom: 5px;
            color: whitesmoke;
            font-weight: bold;
          }
          
          .formulario_grupo input,
          .formulario_grupo textarea {
            width: 400px;
            padding: 10px;
            border: 2px solid #FFBA08;
            border-radius: 5px;
            background-color: #03071E;
            color: #FFBA08;
            font-size: 1rem;
          }
          
          .formulario_grupo textarea {
            resize: vertical;
          }
          
          button[type="submit"] {
            background-color: #FFBA08;
            color: #03071E;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
          }
          
          button[type="submit"]:hover {
            background-color: #ffa31a;
          }

            
footer{
}
    .caja-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .caja-footer h6{
            color: white;
            font-weight: bold;
            margin: 10px;
            padding: 8px;
            width: 220px;
            text-align: center;
            background-color: rgb(3, 7, 30, 0.9);
            border-radius: 50px;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 1);
        }
            .caja-footer h6 a{
                color: #FFBA08;
            }


@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    .nav__container__menu__botones {
        display: none; 
        background-color: #03071e;
        width: 100%; 
        position: fixed;
        top: -100%; 
        left: 0;
        transition: top 0.3s ease-in-out;
        
    }

    .nav__container__menu__botones.active {
        top: 0;
        border: #ffc107;
        margin-top: 0;
    }
    .nav__container__menu__botones.active li{
        margin: 0 2px;
        border-radius: 10px;
        height: 50px;
        background-color: rgb(3, 7, 30);
        color: #FFBA08;
        border: 2px solid #FFBA08;
        transition: background-color 0.4s, transform 0.4s;
    }
    .nav__container__menu__botones.active li a{
        font-size: 10px;
        text-align: center;
    }
    .nav__container__menu__botones.active li a svg{
        width: 10px;
    }
    .nav__container ul{
        padding: 20px;
    }
    
    
}
@media screen and (min-width: 769px) {
    #hide-menu-button {
      display: none;
    }
}
.hidden {
    display: none !important;
}

@media (max-width: 430px){
    .nav__container__menu__botones.active li{
        width: 40px 40px;
    }
}
@media (min-width: 740px){
    .nav__container__menu ul.active li{
        width: 100px;
        padding: 13px 0 0 0;
    }
    .nav__container__menu__botones li{
        width: 120px;
    }
    .nav__container__menu{
        height: 50px;
        display: flex;

    }
    .caja-section{
        margin-top: 90px;
    }
    #inicio #presentacion{
        padding: 50px;
    }
}
hr {
    background: #FFBA08;
	margin: 2px;
	height: 3px;
	width: 150px;
    border-radius:5px;
	border: hidden;
	margin-inline-start: auto;
    margin-inline-end: auto;
}

