

#proyectosCarousel {
    background-color: #f8f9fa; /* Fondo gris claro */
    border: 1px solid #e9ecef; /* Borde gris claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
}

#proyectosCarousel img {
    max-width: 100%; /* Imágenes escalables */
    height: auto;
}

#proyectosCarousel h3 {
    font-size: 24px; /* Tamaño del título */
    margin-top: 10px; /* Espacio superior */
}

#proyectosCarousel p {
    font-size: 18px; /* Tamaño de la descripción */
}

.texto-presentacion {
    font-size: 24px; 
    font-weight: bold;
    color: #333; 
    text-align: center;
    margin: 20px 0; 
    padding: 10px; 
    background-color: #f8f8f8; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 767px) {
    .texto-presentacion {
        font-size: 18px; 
    }
}

footer p{
  margin-bottom: 0;
}

h1.h1 span{
  color: #ffc107;
}

h1.h1{
  margin-top: 0;
  font-size: 5rem;
}

p.lead span{
    text-decoration: underline double #ffc107;
}

div a img{
    width: 35px;
}

a span{
    color: #dea803;
}


div img{
    width: 150px;
    margin: 5%;
}

.collapse{
    font-family: 'Poppins', sans-serif;;
    background-color: rgba(0, 0, 0, 0.0);
}

.nav-link{
    display: inline-block;

    font-size: 10px;
    color: black;

    font-family: 'Poppins', sans-serif;
}

ul li span a{
  margin: 3px 0;
}


.container button{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.navbar{
    background-color: rgba(0, 0, 0, 0.3);
}

nav div span{
  color: #ffc107;
  font-family: 'Poppins', sans-serif;;
  
  
}

ul{
  list-style: none;
}

h3.h3{
  color: #ffc107;
  font-size: 25px;
  padding-right: 5px;
}

.list-inline-item{
  margin-top: 0;
  margin-bottom: 0;
}

.retro-button {
            display: block;
            background-color: #00e9d8; /* Color de fondo */
            color: #fff; /* Color de texto */
            border: 2px solid #000; /* Borde negro */
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            cursor: pointer;
            font-style: italic;
        }

.retro-button:hover {
  background-color: #00ffd0;
  color: #FF5733;
  transform: scale(1.1); 
}

ul.d-flex{
  margin: 0;
  padding: 0;
}

ul.list-unstyled{
  margin-top: 80px;
}