#proyectosCarousel {
  background-color: #f8f9fa; 
  border: 1px solid #e9ecef; 
  border-radius: 10px;
  padding: 20px;
}

#proyectosCarousel img {
  max-width: 100%;
  height: auto;
}

#proyectosCarousel h3 {
  font-size: 24px; 
  margin-top: 10px;
}

#proyectosCarousel p {
  font-size: 18px; 
}

body {
  background-image: linear-gradient(to bottom, #03071E, #FAA307);
}



.textoPrincipal {
  font-size: 10px; 
  color: #333; 
  text-align: center;
  margin: 20px 0; 
  padding: 10px; 
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  font-family: 'Poppins', sans-serif;
}

.tituloMiNombre{
  margin: auto;
  font-size: 4rem;
}
.tituloMiNombre span{
  color: #FFBA08;
}
.tituloFullStack{
  text-decoration: underline double #ffc107;
}


.navbar{
  background-color: rgba(255, 186, 8, 0.3);
  width: 100%;
  height: 60px;
}



.letraLogoJLG{
  color: #03071E;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
.logotipoJLG{
  width: 30px;
  margin: 0%;
}


.elementosDelNav {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFBA08;
  border: 2px solid #370617;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  margin: 10px 0px;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
}
.elementosDelNav:hover {
  background-color: #03071E;
  color: #FFBA08;
  transform: scale(1.3); 
  text-decoration: none;
}

.elementosDelNav:hover selected {
  text-decoration: none;  
  color:red;
}

.navBotonesInternosLetras{
  display: inline-flexbox;
  font-size: 18px;
  color: #FFBA08;  
}

a:hover{
  color: #FFBA08;
  text-decoration; none;
}

.botonDesplegarNav{
}

.navDesplegada{ 
}


.listaBotonesNav{
  list-style: none;
}

.cajaRedesSociales{
  margin: 25px 10px 0 10px;
  color: #FFBA08;
}

.fotoPerfil{
  width: 140px;
  margin: 10px 10px;
  border: 2px solid #FFBA08;
}


.footer{
  margin: auto;
}



ul.d-flex{
  margin: 0;
  padding: 0;
}

